.footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-top: 2px solid;
    border-image: var(--secondary-glow) 1;
    margin-top: 10px;

}

.footer .logo {
    font-size: 48px;
}

.footer .links {
    display: flex;
    gap: 15px;
}